5_Kafka/Apache Kafka Notes.pdf
3_Spark/1_rudimentary_parallelize.ipynb
3_Spark/.ipynb_checkpoints/1_rudimentary_parallelize-checkpoint.ipynb
3. Spark/1_rudimentary_parallelize.ipynb
3. Spark/.ipynb_checkpoints/1_rudimentary_parallelize-checkpoint.ipynb
Assignments/my_assignment_2/earthquakes.csv
Assignments/my_assignment_2/nums.txt
Assignments/my_assignment_2/nums_alt.txt
Assignments/my_assignment_2/produce_nums_txt.py
Assignments/my_assignment_2/sprices.json
3. Spark/1_rudimentary_parallelize.ipynb
3. Spark/.ipynb_checkpoints/1_rudimentary_parallelize-checkpoint.ipynb
